[include]
	path = ~/.config/git/base.gitconfig

[includeIf "gitdir:~/dev/work/"]
	path = ~/.config/git/work.gitconfig
[includeIf "gitdir:~/dev/personal/"]
	path = ~/.config/git/personal.gitconfig
[includeIf "gitdir:~/dev/edu/"]
        path = ~/.config/git/personal.gitconfig
[includeIf "gitdir:~/dev/dearinnovation/"]
        path = ~/.config/git/dearinnovation.gitconfig
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[init]
	defaultBranch = main

[core]
    pager = delta
	fsmonitor = true


# settings for git-delta
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    hyperlinks = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pager]
    blame = true
[credential]
	helper = osxkeychain
[clone]
	defaultRemoteName = git
[user]
	name = Ruben Vitt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	repo = /Users/rubeen/.zsh/plugins/zsh-autocomplete
